<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>AD6B1A59-4338-4B86-8FF1-9AE38B6D6100</string>
	<key>title</key>
	<string>Beach Day</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
